section#lisence {
  color: #eee;
}
section#lisence div.wrap {
  color: #eee;
}
section#lisence div.wrap h2 {
  color: #eee;
}
section#lisence div.wrap p {
  color: #eee;
}
section#lisence div.wrap a {
  color: #eee;
}