section#tip {
  color: #eee;
}
section#tip div.wrap {
  color: #eee;
}
section#tip div.wrap h2 {
  color: #eee;
}
section#tip div.wrap ul {
  color: #eee;
}
section#tip div.wrap ul li {
  color: #eee;
}
section#tip div.wrap ul li a {
  color: #eee;
}
section#tip div.wrap ul li a h3 {
  color: #eee;
}
section#tip div.wrap ul li a p {
  color: #eee;
}
section#tip div.wrap ul li a span {
  color: #eee;
}