section#tip{color:#eee;
    div.wrap{color:#eee;
        h2{color:#eee;

        }
        ul{color:#eee;
            li{color:#eee;
                a{color:#eee;
                    h3{color:#eee;

                    }
                    p{color:#eee;

                    }
                    span{color:#eee;

                    }
                }
            }
        }
    }
}